<% settings = Setting.plugin_custom_menu || {} %>

<%= javascript_include_tag 'custom_menu.js', plugin: :custom_menu %>
<%= stylesheet_link_tag 'custom_menu.css', plugin: :custom_menu %>

<%= javascript_include_tag 'bootstrap.dropdown.js', plugin: :custom_menu %>
<%= stylesheet_link_tag 'bootstrap.dropdown.css', plugin: :custom_menu %>

<% if controller.controller_name == 'cm_menu' %>
  <%= javascript_include_tag 'jquery.nestable.js', plugin: :custom_menu %>
  <%= stylesheet_link_tag 'nestable.css', plugin: :custom_menu %>
  <%= javascript_include_tag 'nestable.js', plugin: :custom_menu %>
<% end %>

<%= stylesheet_link_tag :_responsive, plugin: :custom_menu %>

<% if settings['use_custom_menu'] %>
  <%= stylesheet_link_tag :cm_responsive, plugin: :custom_menu %>
  <%= javascript_include_tag :cm_responsive, plugin: :custom_menu %>
<% end %>

<script type="text/javascript">

  RMPlus.CustomMenu = (function(my){
    var my = my || {};

    my.settings = <%= settings.to_json.html_safe %>;

    my.label_export_to_format = '<%= l(:label_export_to_format).html_safe %>';

    my.links_menu_tag = '<div class="dropdown nav pull-right" id="cm_contextual_menu" style="display: none;"><a href="#" class="dropdown-toggle in_link icon icon-dd-menu" data-toggle="dropdown"><span><%= l(:label_cm_more) %></span></a><ul id="dd-ul" class="dropdown-menu" role="menu" aria-labelledby="dLabel"></ul></div>';

    return my;
  })(RMPlus.CustomMenu || {});

</script>